@import url('https://fonts.google.com/specimen/Montserrat');
*{
    margin: 0;
    padding: 0;
    background: none;
} 
body
{
    background: #1d1c1c;
    font-family: montserrat;
    scroll-behavior: smooth;
}
.html
{
    scroll-behavior: smooth;
}
nav
{
    max-width: 100%;
    /* background-color: blue; */
    max-height: 10rem;
    padding: 20px;
    z-index: 9999;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul,li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    list-style: none;
    margin-right: 50px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #ff004f;
    /* margin-top: -2px; */
}
nav ul li:hover a{
    color: #fff;
    transition: 1s;
}
/* .active,a:hover
{
    border-bottom: 1px solid black;
} */
#icon {
  position: fixed;
  top: 0;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #ff004f;
  line-height: 90px;
  display: none;
}
nav img
{
    border: none;
    background: none;
    line-height: 80px;
    height: 60px;
    object-fit: cover;
    font-size: 400px;
    width: 200px;
}

/* .......Home.......... */
.Home
{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    color: #ababab;
    /* background-color: rgb(111, 111, 119); */
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.About-me{
    flex-basis: 35%;
}
.About-me img{
    width: 50%;
    border-radius: 20px;
    margin-left: 20px;
}
.bio{
    flex-basis: 60%;
}
.bio h1{
    color: #ff004f;
    margin-left: 10px;
}
.bio h1 span{
    color: #fff;
}
.bio p{
    width: 200px;
    height: 50px;
    margin: 0 50px 50px;
    font-size: 20px;
} 

.animated-test {
    display: inline-block;
    animation: slide-in 3s ease-in-out infinite alternate;
}

@keyframes slide-in {
    0% {
        transform: translateX(-60px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* .........Skills.......... */
.Skills
{
 width: 100%;
 height: 100vh;
}

/* ............Services........... */
.Services
{
    width: 100%;
    height: 100vh;
    color: #fff;
    /* background-color: red; */
}
.services-list
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin-left: 40px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    border-radius: 10px;
    cursor: pointer;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/* ..............Projects.......... */
.Projects{
    width: 100%;
    height: 100vh;
    color: #fff;
}
.containers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background: #262626;
    border-radius: 10px;
    width: 270px;
    /* height: 400px; */
    margin: 20px;
    cursor: pointer;
}
.card-image{
    background-color: #2f3640;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 10px 10px 0 0;
}
/* .card-image img {
    height: 100px;
    width: 270px;
    border-radius: 10px 10px 0 0;
    margin-left: 10px;
} */
.card h2{
    padding: 10px;
}
.card p{
    padding: 10px;
}
.card a{
    background-color: #2f3640;
    color: #fff;
    padding: 10px 15px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}
.card:hover{
    background-color: #ff004f;
    transform: translateY(-10px);
    transition: all 1s ease;
}

.scroll
{
    position: fixed;
    top: 0;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
    background-color: black;
    opacity: 1;
    width: 100%;
    height: 40px;
}


/* ........contact........ */
.Contact
{
    width: 100%;
    height: 100vh;
    /* background-color: rgba(255, 255, 255, 0.822); */
    padding-top: 80px;
}
.contact-left{
    padding-top: 80px;
    flex-basis: 25%;
    margin-left: 40px;
}
.contact-left h1{
    font-weight: 600px;
    color: #ababab;
}
.contact-left p{
    margin-top: 30px;
    font-size: 20px;
    color: azure;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-media{
    margin-top: 30px;
}
.social-media a
{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    cursor: pointer;
    color: #ababab;
    display: inline-block;
    transition: transfrom 0.5s;
}
.social-media a:hover{
   color: #ff004f;
   transform: translateY(-5px);
}
.btn{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin-top: 30px;
    font-size: 20px;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;

}
.btn:hover{
    background: #ff004f;
}
.contact-right{
    flex-basis: 50%;
}
.Contact h2
{
    font-weight: 600;
    margin-left: 40%;
    position: relative;
    border-bottom: 3px solid #ff004f;
    padding: 10px;
    width: 160px;
    color: #fff;    
}
.Contact form
{
    /* background-color: blue; */
    width: 70%;
    height: 60vh;
    margin: 10px auto;
    padding: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.Contact form input, textarea
{
    display: block;
    margin-bottom: 30px;
    width: 90%;
    padding: 10px;
    position: relative;
    border: none;
    /* border-bottom: 1px solid black; */
    background: #2f3640;
    color: #fff;
}
.send-btn
{
    background-color: #ff004f;
    float: right;
    top: 2px;
    color: #fff;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
}
.Contact form input,textarea:focus
{
    outline: none;
}
 .copyright{
    width: 100%;
    text-align: center;
    color: #fff;
    background: #2f3640;
    font-weight: 600;
    margin-top: 20px;
    padding: 25px 0;
    font-size: 20px;
 }
 #msg{
    color: red;
    margin-top: -70px;
    display: block;
    margin-left: 80%;
 }
 .copyright i{
    color: #ff004f;
 }
  
/* ...........MediaQuery....... */
@media (max-width:768px) {
    nav img{
        font-size: 30px;
        padding-left: 40px;
        max-width: 100%;
    }
    body {
        overflow-x: hidden;
        max-width: 100%;
    }
    html {
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    nav ul{
        margin-right: 20px;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all.5s;
    }
    nav a{
        font-size: 17px;
    }
    #icon{
        display: block;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
   a.active, a:hover{
        border: none;
        color: #fff;
    }
    nav ul.show{
        left: 0;
    }
    .Home{
        width: 100%;
        font-size: 13px;
    }
    .About-me, .bio{
        flex-basis: 100%;
    }
    .About-me{
        margin-bottom: 40px;
    }
    .Skills{
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        /* background-color: red; */
    }
    svg{
        width: 100%;
        height: 100%;
        margin: 50px 0;
        font-size: 13px;
        margin-right: -20%;
    }
    .Services{
        width: 100%;
        height: 100%;
        font-size: 13px;
    }
    .services-list{
        display: grid;
        grid-gap: 20px;

    }
    .Projects{
        width: 100%;
        height: 100%;
        font-size: 13px;
    }
    .card{
        margin: 10px;
    }
    .card-image{
        height: 100px;
    }
    .Contact{
        width: 100%;
        height: 100%;
        font-size: 13px;
    }
    .btn{
        font-size: 15px;
        padding: 10px 30px;
    }
    .copyright{
        font-size: 17px;
    }
}
